.home-container {
  font-family: Arial, sans-serif;
  background-color: #a8d0e6;
  color: #fff;
  text-shadow: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  width: 100%;
  max-width: 1200px;
}

.text-content {
  flex: 1;
  text-align: center;
  padding-right: 3rem;
}

.wordings {
  font-size: x-large;
  font-weight: bolder;
}

.divider {
  height: 100%;
  width: 2px;
  background-color: #fff;
}

.button-container {
  flex: 1;
  text-align: center;
  padding-left: 2rem;
}

.get-started-btn {
  margin-top: 20px;
  padding: 10px 20px;
  height: 65px;
  width: 300px;
  background-color: transparent;
  border: 3px solid #00a5ff;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: xx-large;
  font-weight: bolder;
  transition: background-color 0.3s, color 0.3s;
}

.get-started-btn:hover {
  background-color: #00a5ff;
}
